bucket         = "leanmgmt-terraform-state-prod"
key            = "prod/terraform.tfstate"
region         = "eu-central-1"
encrypt        = true
dynamodb_table = "leanmgmt-terraform-locks-prod"
# kms_key_id     = "arn:aws:kms:eu-central-1:ACCOUNT_ID:key/KEY_ID"
