.DS_Store
.env
.env.*
!.env.example
node_modules/
.turbo/
dist/
.next/
coverage/
*.tsbuildinfo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/environments/**/terraform.tfvars
**/environments/**/*.auto.tfvars
**/environments/**/backend.hcl
